@mixin sizes ($height){
    height: $height;
}

.carrito{
    .carrito{
        @include sizes (673px);
    }
    h5{
        display: flex;
        justify-content: center;
        background-color: $bg2;
        color: $textcolor;
        font-weight: bold;
    }
}