
header{
    h1{
   font-weight: bold;
   img{
    height: 100px;
    width: 100px;
   }
}
div{
    ul{
        li{
            img{
                height: 30px;
                width: 30px;
            }
        }
    }
}
}
