$bg: linear-gradient(#059ff89c, #0f0f0f);
$bg2: #000000;
$textcolor: #fffffff1;


@import "index";
@import "catalogo";
@import "contacto";
@import "carrito";
@import "nosotros";
@import "footer";
@import "header";
@import "body";
@import "responsive";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}





